{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Latest Snippet</h2>
    <p>There's nothing to see here yet!</p>
    {{block "sidebar"  .}}
        <h2>My default side bar</h2>
    {{end}}
    {{if .Snippets}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td><a href='/snippet/view?id={{.ID}}'>{{.Title}}</a></td>
                <td>{{.Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
            </table>
        </table>
    {{else}}
    <p>There's nothing to show here...yet!</p>
    {{end}}
{{end}}