{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Latest Snippet</h2>
    <p>There's nothing to see here yet!</p>
    {{block "sidebar"  .}}
        <h2>My default side bar</h2>
    {{end}}
{{end}}